# Logs
*.log

.DS_Store
fastlane/.DS_Store
fastlane/.DS_Store
fastlane/README.md
fastlane/.DS_Store
fastlane/README.md
fastlane/report.xml
fastlane/test_output/report.html
fastlane/test_output/report.junit
